<div class="col-3 col-md-3 login-form">
    <form #form="ngForm" (ngSubmit)="submit(form)" novalidate>
        <div class="text-center">
            <h2 class="text-capitalize">Teste Bravi</h2>
            <h3 class="text-muted">Bem-vindo a agenda de contatos online!</h3>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" name="email" [ngClass]="{'has-error':form.invalid && form.controls.email.invalid && form.controls.email.dirty}" class="form-control" type="text" ngModel required email>
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input id="password" name="password" [ngClass]="{'has-error':form.invalid && form.controls.password.invalid && form.controls.password.dirty}" class="form-control" type="password" ngModel required>
        </div>
        <div class="text-danger text-center" *ngIf="showErrors" style="margin: 15px;">
            {{errorMessage}}
        </div>
        <div class="form-group input-login">
            <button class="login-button" type="submit">Entrar</button>
        </div>
    </form>
</div>
<div class="col-md-9 login-bg">
</div>
